.card {
    background: var(--black-bg);
    border-radius: 3px;
    border: 1px solid var(--yellow);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin-bottom: 3em;
    opacity: 0.85;
    padding: 1rem;
    transition: all .5s;
}
.card:hover{
    box-shadow: 2px 3px 10px 1px var(--yellow);
    opacity: 1;
    transform: scale(1.05);
}

h2 {
    border-bottom: 1px solid var(--yellow);
    border-radius: 2px;
    margin: .5em auto 1.5em;
    width: fit-content;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 1em;
}
li span {
    font-weight: bold;
}